<% layout('../layout') %>
<div class="container-fluid">
    <div class="card-box">
        <div class="form-group">
            <label for="userName"> Note </label>
            <input type="text" placeholder="Enter user name" class="form-control" id="change">
            <input type="hidden" id="id" value="<%= data[0]._id %>">
        </div>
        <div class="form-group text-right mb-0">
            <button class="btn btn-primary waves-effect waves-light mr-1" type="submit" id="submit">
                Submit
            </button>
        </div>
        <h4 class="header-title mt-0 mb-3" id="note"><%= data[0].note %>           </h4>
    </div>
</div>
<script>
    $("#submit").click(function(){
        const note = $('#change').val();
        const id=  $('#id').val();
        $.ajax({
            type: "POST",
            url: "/appSettings/updateProfileNote",
            data: { note : note,id:id },
            success: function(data)
            {
                document.getElementById("note").innerHTML = note ;
                document.getElementById("change").value = "";
                toastr["info"]("Profile Note Updated Successfully", "Indo Bets Games");
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "linear",
                    "hideEasing": "linear",
                    "showMethod": "slideDown",
                    "hideMethod": "fadeOut"
                }
            }
        });
    });
</script>
